[2019-02-06 11:32] lelouedec opened #1 "AttributeError: module 'point_cloud_utils' has no attribute 'sample'"
`AttributeError: module 'point_cloud_utils' has no attribute 'sample'`
I am trying to use the given example for mesh sampling. And it raises the error above.

[2019-02-06 13:15] fwilliams commented on #1
Hey, thanks for posting!

There are a few examples on the main page. Could you post a small example of the code that causes the error?

[2019-02-06 13:30] fwilliams commented on #1
@lelouedec  Looks like the Poisson Disk Sampling example was out of date. I updated the README, and it should be correct now. Let me know if you run into any problems or if that wasn't your issue.

[2019-02-06 13:30] lelouedec commented on #1
Oh sorry I forgot to specify the error comes from the following example :
[code]
And is on this line :
`v_dense = pcu.sample_mesh_uniform(v, f, num_samples=v.shape[0]*100)`

[2019-02-06 13:31] fwilliams commented on #1
@lelouedec Looks like the Poisson Disk Sampling example was out of date. I updated the README, and it should be correct now. Let me know if you run into any problems or if that wasn't your issue.

[2019-02-06 13:38] lelouedec commented on #1
Alright the function seems to exist with the updated README, however the OBJ read might have a problem.
On the line :
`v_dense, n_dense = pcu.sample_mesh_random(v, f, n, num_samples=v.shape[0]*100)`
I get the error :

I tried with multiple different meshes in the OBJ format

[2019-02-06 13:42] fwilliams commented on #1
If you're loading `f` from an OBJ, (i.e. `v, f = pcu.readOBJ(...)`) then this likely means you have quads in your mesh. All the functions in pcu assume triangle faces, so you'll need to split your quads into triangles.

Specifically, `v` should have shape `(n, 3)` and `f` should have shape `(m, 3)`. Your `f` has shape `(6, 4)`.

[2019-02-06 14:12] fwilliams commented on #1
I'm closing this since it doesn't seem your issue is related to PCU. Good luck and please open more issues if you find problems :)

[2019-02-06 14:12] #1 closed

[2019-02-16 15:40] chitraa opened #2 "Conda for osx-64?"
Hey it would be nice to have conda module for osx-64.
When I tried to run pip, 2 errors were generated while building:
`
external/vcglib/eigenlib/Eigen/src/Householder/HouseholderSequence.h:409:31: error: no template named 'is_identity' in namespace 'Eigen::internal'; did you mean 'std::__identity'?
          applyThisOnTheLeft(res, internal::is_identity<OtherDerived>::value && res.rows()==res.col

[2019-02-20 19:25] fwilliams commented on #2
Hey thanks for the comment!

I've fixed all the compile issues on OSX in the latest version.

I'm also getting a package on conda-forge for Linux and OSX which should become available in the next few days.

In the meantime, installation with `pip` on OSX should work.

[2019-02-21 14:52] chitraa commented on #2
Thanks, works with pip now.

[2019-02-21 14:52] #2 closed

[2019-02-22 15:30] fwilliams commented on #2
By the way, this package is now on conda forge so you can install it on whatever platform with

[code]

[2019-04-16 12:02] nicolocarissimi opened #3 "Compilation error on windows"
Compilation on windows stops with error

[code]

[2019-04-16 15:13] fwilliams commented on #3
What version of CMake are you using?

[2019-04-16 15:22] nicolocarissimi commented on #3
3.14

[2019-04-16 15:28] fwilliams commented on #3
Could you paste the full output of running CMake on your terminal including the command? I'll take a look.

[2019-04-16 16:59] nicolocarissimi commented on #3
Sure, thank you.

[code]

[2019-05-01 10:19] nicolocarissimi commented on #3
Any news?

[2019-05-03 18:45] fwilliams commented on #3
@nicolocarissimi I upgraded the version of [numpyeigen](https://github.com/fwilliams/numpyeigen) to the latest which supports Windows. I think this fixes the bug but I don't have a Windows machine to test on. Can you try and let me know?

[2019-05-12 23:23] nicolocarissimi commented on #3
Sorry, @fwilliams, I needed to finish other activities while waiting for this problem to be fixed.
I'll try ASAP and let you know, thanks!

[2019-05-16 15:18] fwilliams commented on #3
@nicolocarissimi Any updates?

[2019-07-13 11:34] fwilliams commented on #3
There is now a conda-forge package for Windows, so I'm closing this issue. You can install it by simply running

[code]

[2019-07-13 11:34] #3 closed

[2019-08-01 20:41] ShairozS opened #4 "TypeError: pairwise_distances() got an unexpected keyword argument 'squeeze'"
After installing from Conda and copy-pasting the example for Chamfer distance, the following error is thrown.

TypeError: pairwise_distances() got an unexpected keyword argument 'squeeze'

Running on GPU enabled Windows 10 machine. Below is the full example from the main page:

import point_cloud_utils as pcu
import numpy as np

a = np.random.rand(100, 3)
b = np.random.rand(100, 3)

chamfer_dist =

[2019-08-02 04:36] ShairozS opened #5 "ValueError: Invalid type (float64)"
The following error is thrown from the sample_mesh_poisson_disk() method

![image](https://user-images.githubusercontent.com/14152951/62344786-537f5200-b4a4-11e9-82b3-fba592c6672d.png)

This is without any modification to the example code, and occurs even with explicit typecasting of the arrays to either float64 or float32

[2019-08-02 17:11] fwilliams commented on #4
Thanks for the bug report!I just fixed this issue. I'm going to cut a new release soon with some other fixes. I'll let you know when you can grab the latest!

[2019-08-02 17:24] fwilliams commented on #5
Hey, thanks a lot for reporting this issue! That error messsage comes from the library [numpyeigen](https://github.com/fwilliams/numpyeigen) which I'm using to generate python bindings. I've bumped the version now which gives clearer error messages and fixes some bugs.

If you have a simple code example that reproduces the error it would also be helpful. The new version (0.7.4) is building on cond

[2019-08-08 03:40] #4 closed

[2019-08-08 17:36] fwilliams commented on #5
@ShairozS this issue should be fixed in the latest version of the library which is live on conda-forge. Can you confirm that everything works for you so I can close the issue?

[2019-08-14 14:48] fwilliams commented on #5
@ShairozS any news?

[2019-08-15 15:01] #5 closed

[2019-08-15 15:22] fwilliams opened #6 "read_ply issue on Windows"
see https://ci.appveyor.com/project/fwilliams/point-cloud-utils/builds/26724090

[2019-09-04 09:26] tverbrug opened #7 "Succesful install, but functions not working properly"
Hello,

I was able to succesfully install your library using the pip method on Ubuntu 18.04. I am able to import the module into python and I can run the test_examples.py script. However, when I look at the results, I see that the sampling functions do not work. Both pcu.sample_mesh_random() and pcu.sample_mesh_poisson_disk() just result in the original vertices and faces. There are no error or wa

[2019-09-27 23:52] fwilliams commented on #7
Hey, thanks for reporting this!

The issue is that `sample_mesh_poisson_disk` downsamples a mesh using Poisson Disk sampling. Since you specify 100 times the number of vertices, you're going to get the whole mesh. If you have a mesh, you first need to upsample it. The new version of this library will include an `upsample_mesh` function which upsamples a mesh using subdivision.

[2019-10-07 08:18] xiazhiwang opened #8 "error with pip install"
Hi, thanks for your excellent work. But I have error when I use pip install, could you please help me ? The error is shown below:

    [  2%] Building C object geogram/src/lib/geogram/third_party/CMakeFiles/geogram_third_party.dir/LM7/libmeshb7.c.o
    In file included from /tmp/pip-hhokn49i-build/external/numpyeigen/external/pybind11/include/pybind11/pytypes.h:12:0,
                     from /tmp

[2019-10-07 20:07] fwilliams commented on #8
Hi, this error seems like you either don't have the CPython headers and libraries installed on your system or they are installed in some nonstandard location.

The easiest solution to your problem is to use (`conda`)[https://docs.conda.io/en/latest/] to install the package instead of `pip`. Unfortunately, `pip` only manages pure python dependencies. Since Point Cloud Utils is written in C++ it dep

[2019-10-07 20:07] #8 closed

[2019-10-08 03:01] xiazhiwang commented on #8
Thanks.

[2019-11-18 04:21] fwilliams commented on #7
This is now fixed. `sample_mesh_poisson_disk` generates Poisson disk samples on the mesh. There's a new parameter to generate a given number of samples, or you can use the radius.

I also fixed the random mesh sampling function `sample_mesh_random` to properly upsample.

[2019-11-18 04:21] #7 closed

[2019-11-20 03:22] sathiz91 opened #9 "How can i compare two ply files?"
How to utilize your library to read two PLY files and compare the distance (distance matrix or similarity matrix). Thanks in  advance.

[2019-11-20 03:50] fwilliams commented on #9
By distance matrix, do you mean pairwise distances between two point clouds?
i.e. if P1 is a n x 3 matrix where each row is a point, and P2 is a m x 3 matrix where each row is a point, then the pairwise distance matrix would have entries D_{i, j} = ||P1_i - P2_j||_2.

If that's what you mean, then you can use `pcu.pairwise_distances`. For example:

[code]

For more information you can read the doc

[2019-11-20 17:13] fwilliams commented on #9
Also, please update to version 0.11.1 if you want to use odd norms. I fixed a bug related to these.

Does this answer your question? Can I close this issue?

[2019-11-20 17:56] sathiz91 commented on #9
Thank you for the quick response. I'm not using odd norms, I followed the same instruction,  P1 is (1088, 3) and P2 is (47592,3) when i do pairwise calculation i get array with full of 'inf' values.

[2019-11-20 18:33] fwilliams commented on #9
Are you sure your data does not have inf or invalid values in it? If you post your PLYs, I can have a look.

[2019-11-20 22:14] sathiz91 commented on #9
I attached ply files, please have a Look.
[cloud-1.zip](https://github.com/fwilliams/point-cloud-utils/files/3871693/cloud-1.zip)

[2019-11-21 00:01] fwilliams commented on #9
So I didn't have any issues running the following code:

[code]

Here's the output from my shell
[code]

Note that the arrays are quite big so the operation eats up a lot of memory (I had to run it on a big server).

[2019-11-21 02:54] sathiz91 commented on #9
I'm using Intel® Core™ i5-9400F , with 16GB RAM. I'm running it on conda environment with the latest version(0.11.1). I used the same file, but the results were no way near to yours.

array([[ 0., inf, inf, ..., inf, inf, inf],
[inf,  0., inf, ..., inf, inf, inf],
[inf, inf,  0., ..., inf, inf, inf],
...,
[inf, inf, inf, ...,  0., inf, inf],
[inf, inf, inf, ..., inf,  0., inf],
[inf, inf, inf, ...

[2019-11-21 15:27] fwilliams commented on #9
Can you run the following?

[code]

[2019-11-21 16:58] fwilliams commented on #9
Also what OS are you using?

[2019-11-21 23:29] sathiz91 commented on #9
I'm using ubuntu 16.04 LTS, please find the results,

(15864, 3) 3.0517584800215326e-05 0.6956068277359009 0.24418866964744965

(47592, 3) -0.2364010065793991 0.6943179965019226 0.23413198912436622

[2019-11-22 00:01] fwilliams commented on #9
I can't seem to reproduce your bug on my machine with Ubuntu and 16GB of RAM.

Are you using conda? What version of Numpy are you using?

Can you also print the dtype of the arrays?
i.e.
[code]

[2019-11-25 22:46] fwilliams commented on #9
@sathiz91 any updates on this? Did you ever manage to make it work?

[2019-12-03 14:40] #9 closed

[2019-12-19 16:32] bohi87 opened #10 "How to make rectangular mesh from Points clouds"
Hello Francis,

Do you know, how to simply and theoretically generate a rectangular mesh from a Points Cloud defined by 3D coordinates (x,y,z)?

Regards
Amine

[2019-12-21 17:32] fwilliams commented on #10
[Instant Meshes](https://github.com/wjakob/instant-meshes) has a quad meshing option which takes a point cloud as input. It will produce good results if your point cloud is dense enough.

You can also generate a triangle mesh with something like [Poisson Surface Reconstruction](https://github.com/wjakob/instant-meshes), then use a quad remeshing tool to generate a quad mesh.

At some point, I'll a

[2019-12-22 14:56] JMParker-KR opened #11 "When do pcu.read_ply the jupyter notebook kernel dies,"
I am Using
Window10
python 3.6
and just did conda install -c conda-forge point_cloud_utils on a new anconda env

[2019-12-22 15:38] fwilliams commented on #11
Can you upload your PLY file. What version of `point_cloud_utils` are you using?

[2019-12-23 05:29] JMParker-KR commented on #11
Thank you for your reply
I fixed it by using OFF file instead , I think the problem was the ply file was in binary  or it had not enough information in the ply file

[stool_0001.zip](https://github.com/fwilliams/point-cloud-utils/files/3993736/stool_0001.zip)

[2019-12-23 17:18] fwilliams commented on #11
Binary PLY files should work. It might have been an issue with the file itself. Ideally, the function shouldn't crash on bad inputs though.

[2020-01-14 14:57] Leerw opened #12 "read_obj: file not found"
Thanks for your great work!

[code]
but the model.obj does exists! what happened?

[2020-01-14 16:39] fwilliams commented on #12
The file `/model.obj` probably doesn't exist. Did you mean `./model.obj`?

[2020-01-15 02:58] fwilliams commented on #12
Did this fix the issue?

[2020-01-15 05:14] Leerw commented on #12
sorry, I have not fix this issue, the path is correct, but I delete some prefix personal directories to make it looks clean. I have tried to use the `readOBJ` in `libigl`, it worked for me. But why `readOBJ` in `pcu` does not work?

[2020-01-15 16:36] fwilliams commented on #12
`read_obj` in PCU just calls libIGL under the hood and the Python binding should be identical. Can you paste the code you ran and the exact error? Also what OS and version of Python are you using?

[2020-01-22 02:16] xidianxiaofeixian opened #13 "how to write point cloud files in batch after sampling"
How to save the point cloud after Poisson-Disk-Sampling、Monte-Carlo Sampling on a mesh、Lloyd Relaxation into a ply file？Thank you very much.

[2020-01-22 17:00] fwilliams commented on #13
You want `pcu.write_ply`. The documentation for the function is:

[code]

[2020-01-22 17:00] #13 closed

[2020-02-01 01:31] mm04926412 opened #14 "Would it be possible to make this code work natively for CUDA pytorch tensors?"
I appreciate it might be difficult to program but I'm currently creating a loss function for my autoencoder by turning a pytorch tensor into numpy, calculating indicies of nearest neighbour pairs and then just indexing the tensor to get a differentiable loss function from it.

Would it be possible to make this algorithm natively compatible with pytorch cuda tensors to immediatly get a differentiab

[2020-02-01 14:56] fwilliams commented on #14
Hi there,

I appreciate the desire to have this functionality natively integrated with PyTorch (I'm mostly using this library in machine learning applications).

Unfortunately, it would be a very large amount of effort to deeply integrate this library with PyTorch and I don't have time to do it. To make things work natively with CUDA tensors would essentially require a full rewrite of this library

[2020-02-01 15:41] mm04926412 commented on #14
Pretty much just creating loss functions with the distance metrics so I have permutation invariant back propogation. I'm currently trying to get some code working that pulls the numpy array out and passes indices to a pytorch sum layer - I'm pretty new to using pytorch but is there a convinient way to make a "convert to numpy as the pass the indicies to pytorch" paradigm beyond what will probably

[2020-02-01 15:54] fwilliams commented on #14
Not sure if it's what you're looking for but for a differentiable permutation invariant loss between point clouds you can try [Sinkhorn Distances](https://arxiv.org/abs/1306.0895) (it's a regularized optimal transport loss).
I have a PyTorch implementation of the sinkhorn loss with code examples in [my other library](https://github.com/fwilliams/fml).

For your nearest neighbor based loss, you can

[2020-02-01 15:57] mm04926412 commented on #14
Thank you this is incredibly helpful, the final thing I'm aiming for is a point cloud autoencoder where the loss function doesn't care about the order, rotation or the translation vs the input so that only the... I'm not sure of the precise language, the 'concept' of the structure is in the latent space. The point clouds I'm using are crystal structures of atoms where the point cloud represents a

[2020-02-01 16:52] fwilliams commented on #14
If you have two point clouds `A` and `B`, and you apply the same rotation to both of them, then the sinkhorn distance won't change. So in that sense it is rotation invariant.

Something to note about sinkhorn distances is that they're relatively expensive to backprop through (you're backpropping through a big unrolled for loop). If you run into performance issues you can take the ouput corresponde

[2020-02-02 05:52] #14 closed

[2020-02-16 19:21] bearinsuke opened #15 "program end with exit code -1073741819 (0xC0000005)"
Hi
I use pcu for sampling a ply file. It shows Process finished with exit code -1073741819 (0xC0000005) in the middle. But there is no such thing when I debug it.
Python version 3.7.6
Win10

[2020-02-16 19:40] fwilliams commented on #15
Hi, thanks for reporting this issue.

Could you provide a small code sample that reproduces the crash as well as the exact data you used?

[2020-02-16 19:41] fwilliams commented on #10
Closing due to lack of activity.

[2020-02-16 19:41] #10 closed

[2020-02-16 21:54] bearinsuke commented on #15
Sure
[code.txt](https://github.com/fwilliams/point-cloud-utils/files/4210972/code.txt)

[2020-02-16 21:59] fwilliams commented on #15
Can you also provide the meshes
[code]

The crash is probably due to a problem in the data.

[2020-02-16 22:20] bearinsuke commented on #15
How can I provide it? I didn't meet such an error when using other API.....

[2020-02-16 22:42] fwilliams commented on #15
Upload it to some file share site (e.g. Google Drive) and post a link.

Another library might handle your input data differently. The code example you posted works with data I have on my machine. I can't fix the problem if you don't give me exact code to reproduce your issue.

[2020-02-17 22:29] bearinsuke commented on #15
Ok, actually, I installed all these libraries from conda including open3d.
The link can proceed these 3d files is
https://drive.google.com/drive/folders/1Ks2g7lB7DjA9YJCBlrXkSBr1iXQTKaLV?usp=sharing
Thank you

[2020-02-17 22:41] bearinsuke commented on #15
Actually, the problem happens when I trying to read it with pcu, and sometimes the program will work.

[2020-02-17 23:57] fwilliams commented on #15
Thanks for posting that.

Here's the output I get on that data:
[code]
So it looks like the PLY loader is crashing because your `Scan_2.ply` is missing is a bit weird. Right now, point-cloud-utils is using the PLY reader in LibIGL under the hood which is pretty brittle. I plan to rewrite all the loading code to use a different mesh IO library that's more robust to slightly malformed inputs but lik

[2020-02-18 00:37] bearinsuke commented on #15
Thanks for your answer.

[2020-04-19 14:35] pyeap opened #16 "install successfully, but not find attributes"
pcu.__class__(          pcu.__eq__(             pcu.__gt__(             pcu.__loader__          pcu.__package__         pcu.__setattr__(
pcu.__delattr__(        pcu.__file__            pcu.__hash__(           pcu.__lt__(             pcu.__path__            pcu.__sizeof__(
pcu.__dict__            pcu.__format__(         pcu.__init__(           pcu.__name__            pcu.__reduce__(         pcu.__s

[2020-04-19 16:01] fwilliams commented on #16
Hi, I need more informatioon to diagnose this issue. What OS are you running? What version of Python? Are you running the import from the same Python shell as the one you used to install the package? Could you provide the verbose output from running `setup.py`?

Also, I really recommend using `conda` to install the package instead of running `setup.py` directly. Installation with `conda` should wo

[2020-04-21 17:40] fwilliams commented on #16
Did this help? Is your issue resolved?

[2020-04-26 17:32] fwilliams commented on #16
I can't reproduce this issue. I'm closing this due to lack of activity. Feel free to re-open the issue and post more details if you're still experiencing it.

[2020-04-26 17:32] #16 closed

[2020-05-20 19:25] #15 closed

[2020-09-16 15:10] fwilliams opened #17 "Replace Mesh I/O functions with vcglib functions"
These don't crash on bad inputs and can return many more fields.

Also the read API will change from returning many parameters to a single dict with whatever in your mesh file.

The write side API will not require passing empty arrays when they are not available.

[2020-09-16 15:10] fwilliams opened #18 "Documentation"
Let's make a nice readthedocs.io documentation

[2020-09-16 15:10] fwilliams opened #19 "Add real documentation beyond the README"
Let's make a nice readthedocs.io documentation

[2020-09-16 15:11] #18 closed

[2020-09-16 15:11] fwilliams opened #20 "Voronoi Diagrams"
We have almost all the internal API to do arbitrary dimensional voronoi diagrams as well as restricted voronoi diagrams. Need to expose a public API for this

[2020-09-16 15:14] fwilliams opened #21 "Return barycentric coordinates in mesh sampling functions"
Currently the mesh sampling functions return points (and possibly normals) which is limiting if the user has attributes stored at mesh vertices. Let's update them to optionally return barycentric coordinates.

[2020-09-19 00:54] cravisjan97 opened #22 "pcu.write_ply() throws "Incompatible function arguments error""
I am trying to load a mesh in .obj format, perform Lloyd Relaxation and then save the point clouds to .ply format. I am writing the following code:

[code]

Note: I have no normals in my mesh file

[2020-09-19 01:03] cravisjan97 commented on #22
I was able to solve the issue by passing in empty numpy arrays to n and uv

[2020-09-19 01:05] cravisjan97 commented on #22
But the point clouds do not make any sense to the input mesh (which is a chair). Am I doing something wrong here?

[2020-09-19 14:40] fwilliams commented on #22
Hey thanks for reporting the issue. Can you upload the mesh so I can try it out? I tried `sample_mesh_lloyd` locally and it seems to work okay.

[2020-09-19 17:17] cravisjan97 commented on #22
I am using this mesh https://github.com/diegogb/3D_Synthesis_based_on_Fine-grained_Parts/blob/master/data/input/Chairs/ChairArms1.obj.

[2020-09-22 17:10] fwilliams commented on #22
Hey, so I just downloaded your mesh and ran `sample_mesh_lloyd` on it. I a screenshot of the results below and code to reproduce it below.

The results seem quite reasonable to me. For reference, I'm running point_cloud_utils version 0.15.1 installed from conda-forge on a Linux machine.

Could you post a screenshot showing what was wrong with your point cloud? Could you also post the version of po

[2020-09-22 17:15] cravisjan97 commented on #22
Is it possible to save the point clouds as .ply file? I am confused with that part of the code. I am saving it as a .ply file and the point clouds do not make any sense.

[2020-09-22 19:47] fwilliams commented on #22
Yes you can save the point clouds as a PLY file as follows:

[code]

The zero-arrays are just passing empty faces, normals and uv coordinates.

Currently, the interface for MeshIO is not very user unfriendly. I plan on overhauling this completely in the near future so it's no so confusing.

[2020-09-22 19:50] cravisjan97 commented on #22
I am confused by this. Shouldn't we be passing 'pts' in write_ply function and not 'v'?

[2020-09-22 19:57] #22 closed

[2020-09-22 19:57] fwilliams commented on #22
Ah yeah you're right! Sorry I didn't test the code before submitting the responds. I just edited the response.

[2020-10-06 17:22] cravisjan97 opened #23 "Is there a function to return the height from the base of a point cloud?"

[2020-10-06 20:54] fwilliams commented on #23
Hi @cravisjan97 thanks for posting!

I'm a little bit confused by what you mean by "the height from the base of the point cloud"? I tried to answer the question based on my interpretation of the question, but maybe you specify a bit more detail about what you'd like to do to help me out?

For tho notion of height to make sense, you would need two things:
1. A base point `x` which is some point on

[2020-10-13 06:10] sonumathur opened #24 "Invalid Mesh input error"
what is reason for value error in python3.6 as
valueError: Invalid input mesh with zero elements: v and f must have shape (n, 3) and (m, 3) (n, m > 0). Got v.shape =(119844, 3), f.shape = (0, 0).

The PLY is opening good in other programs.

[2020-10-13 08:18] YWCHEN-ZERO opened #25 "Is there a function to select the points with high curvature?"
Hello!
Thanks for your excellent library.
I want to select points with high curvature in a point cloud, is there any function to accomplish it?

[2020-10-14 14:54] fwilliams commented on #24
Hi @sonumathur thanks for posting!

Is this is an error with `read_ply`? I've had no trouble opening PLYs with no faces, but maybe there's something different with yours that's making the code hit a bug. Could you send me a PLY file to reproduce your bug and I'll look into it?

[2020-10-14 14:56] fwilliams commented on #23
Hey @cravisjan97 did I answer your question? Can I close this issue?

[2020-10-14 14:57] fwilliams commented on #25
Hey @YWCHEN-ZERO currently there isn't (sorry!) but I actually need this function too for a project so I plan on adding it in when I get time.

[2020-10-14 15:09] sonumathur commented on #24
Ply Files

[2020-10-14 16:29] fwilliams commented on #24
I ran into no issues loading these PLY files:

![image](https://user-images.githubusercontent.com/1343232/96018128-df1a9f80-0e18-11eb-966e-e9658bbacda1.png)

What version of Point Cloud Utils are you using? What operating system are you using? Did you install from conda?

[2020-10-15 04:09] sonumathur commented on #24
I have installed conda. I tried example you have provided at start page as :-1:
import point_cloud_utils as pcu
# v is a nv by 3 NumPy array of vertices
# f is an nf by 3 NumPy array of face indexes into v
# n is a nv by 3 NumPy array of vertex normals
v, f, n, _ = pcu.read_ply("my_model.ply")

# Generate 10000 samples on a mesh with poisson disk samples
v_poisson, n_poisson = pcu.sample_mesh_pois

[2020-10-15 17:46] fwilliams commented on #24
This error is because your loaded mesh is a point cloud not a mesh with faces. The function `sample_mesh_poisson_disk` expects a triangle mesh on which to generate new samples.

If you only have a dense point cloud, you can dowsample it to have the poisson disk property using `prune_point_cloud_poisson_disk`. This function will discard points in your pointcloud so that it has the poisson disk prop

[2020-11-10 05:10] edward1997104 commented on #21
I would like to ask if there is any updates on this because it seems that it will return barycentric coordinates in the README.md

[2020-11-10 05:30] edward1997104 commented on #21
I think I have figured it out, the function is now in version 0.17.3 which is only available through pip install, but not conda install. Perhaps I might suggest you can update the conda install version as well. Thanks!

[2020-11-10 15:40] fwilliams commented on #21
Are you on Windows by any chance? I think this is available in 0.16.0. Unfortunately the windows build uses too much memory and breaks on conda-forge so the latest available Windows version is outdated.

[2020-11-10 15:40] #21 closed

[2020-11-10 15:41] fwilliams commented on #17
The read side of this is completely done. Still need to do the write side.

[2020-11-10 15:46] edward1997104 commented on #21
Thank you for your reply. I am working on the ubuntu 18.04 and using the conda install, but it seems that it does not include the function (even though it said it successfully install the 0.16.0 version).

[2020-11-10 16:07] fwilliams commented on #21
Ah yes, it appears you're right! I didn't include this functionality in 16.0. CVPR is in a week and I'm deadline mode so a bit absent minded.

The reason these changes aren't pushed to conda-forge is twofold:
 1. They're implemented for all the mesh sampling functions except `sample_mesh_lloyd` which works a bit differently and is going to be extra work. I want to keep the API consistent within ve

[2020-11-10 16:12] fwilliams opened #26 "Windows build runs out of memory on Appveyor and conda-forge"
Numpyeigen is a memory hog at compile time. We should probably split up translation units with multiple functions.

[2020-11-11 00:20] edward1997104 commented on #21
Thank you for your reply! Wish you all best for the CVPR submission in a week!

[2020-11-30 03:12] DeepakVellampalli opened #27 "Any utils to fill the empty the 3D cube giving the 3D orientated bounding box of an object"
@fwilliams
Any utils to fill the empty the 3D cube giving the 3D orientated bounding box of an object. Kindly help

[2020-11-30 22:01] fwilliams commented on #27
Suppose your cube is defined by taking the affine transformation of the unit cube centered at the origin by `S R x + t`  where `S` is a 3x3 diagonal scale matrix, `R` is a 3x3 rotation matrix (orthonormal rows and columns) and `t` is a 3x1 translation vector. Then you can generate grid samples in this cube using the following function:

[code]

If you have questions about how to compute R, S, or T

[2020-12-02 20:10] fwilliams commented on #27
@DeepakVellampalli Did this answer your question? Let me know if I can close the issue.

[2020-12-15 15:22] fwilliams commented on #27
Closing due to inactivity.

[2020-12-15 15:22] #27 closed

[2021-01-08 09:26] TheoDEPRELLE opened #28 "Symetrical Sinkhorn loss"
Hi @fwilliams,

After trying your sinkhorn loss on 2 point cloud it seems that it's not symetrical wrt the 2 set of points. Is that true ?

Best,

[2021-01-11 18:17] fwilliams commented on #28
Hi Theo,

Thanks for posting the issue!

If your two point sets are labelled `X` and `Y` (both arrays of shape `Nx3`), and weights are `a` and `b` (arrays of shape N), then flipping the order of the input sets is equivalent to transposing the distance matrix `M` (`M_ij = ||X_i - Y_j||`) and passing `a` and `b` in the opposite order. i.e.
[code]
The matrix `M` is not symmetric unless `X` and `Y` ar

[2021-01-15 18:27] fwilliams commented on #28
@TheoDEPRELLE does this answer your question? If so, I'll close the issue.

[2021-01-18 13:18] TheoDEPRELLE commented on #28
Yes !

Thanks a lot ;)

I'm closing the issue

[2021-01-18 13:18] #28 closed

[2021-03-10 11:13] nikhilpatil99 opened #29 "?"

[2021-03-22 05:54] #29 closed

[2021-04-07 12:50] Seikegn opened #30 "Documentation for Monte-Carlo sampling"
Dear developer,
    From README I saw you listed Monte-Carlo sampling as one of the sampling methods provided, yet I can find no clue on how to use a related function, could you please enlighten me?
    Thanks!

[2021-04-07 13:24] fwilliams commented on #30
There is an example in the README on how to generate monte-carlo samples on a mesh here:

https://github.com/fwilliams/point-cloud-utils#generate-random-samples-on-a-mesh

[2021-04-07 13:24] #30 closed

[2021-04-07 13:25] fwilliams commented on #17
The write side is done as well. Closing.

[2021-04-07 13:25] #17 closed

[2021-04-07 13:25] #6 closed

[2021-04-07 13:25] fwilliams commented on #6
Fixed when closing #17

[2021-04-07 13:28] fwilliams commented on #12
I've completely rewritten the Mesh IO functions in point-cloud-utils. They are not much more powerful and flexible and shouldn't suffer from the reported bug.

See [here for documentation on loading meshes](https://github.com/fwilliams/point-cloud-utils#loading-meshes-and-point-clouds) and [see here for documentation on saving meshes](https://github.com/fwilliams/point-cloud-utils#saving-meshes-an

[2021-04-07 13:28] #12 closed

[2021-04-07 13:28] fwilliams commented on #23
I'm closing this issue since I think the question is answered. Feel free to re-open it if you have any further questions.

[2021-04-07 13:28] #23 closed

[2021-04-07 13:36] Seikegn opened #31 "Could Lloyd sampling return f_idx and bc as well?"
Dear developer,
Your poisson disk sampling and random sampling return f_idx and barycentric coordinate (bc), while the facial weight center coordinates could be further calculated to be `v[f[f_i]] * bc[:, np.newaxis]` [though `np.newaxis` doesn't work in the way I expected and I modified the part to be `np.expand_dims(bc, axis=2)`]. However, in your `sample_mesh_lloyd` method, the returned value i

[2021-04-07 13:40] Seikegn commented on #30
Thank you! I didn't realize the two are the same thing.

[2021-04-07 13:49] fwilliams commented on #31
The version of point-cloud-utils on conda-forge is out of date. Install the latest version from pip.
[code]

[2021-04-07 13:51] fwilliams commented on #31
Ah sorry you said lloyd sampling not poisson disk. Unfortunately, I'm not going to get around to that for a while. If you need it, a pull request would be helpful!

[2021-04-07 13:53] fwilliams commented on #11
This is fixed with the new mesh IO API:
* [Documentation for loading meshes and point clouds](https://github.com/fwilliams/point-cloud-utils#loading-meshes-and-point-clouds)
* [Documentation for saving meshes and point clouds](https://github.com/fwilliams/point-cloud-utils#saving-meshes-and-point-clouds)

[2021-04-07 13:53] #11 closed

[2021-04-07 14:18] fwilliams commented on #24
I think this question is answered so I'm closing the issue. Here is the relevant documentation link:

[Documentation for downsampling a point cloud to have a blue noise distribution](https://github.com/fwilliams/point-cloud-utils#downsample-a-point-cloud-to-have-a-blue-noise-distribution)

[2021-04-07 14:18] #24 closed

[2021-04-08 02:40] Seikegn commented on #31
Hi @fwilliams I'm very unfamiliar with C++ for now, but I'll see what I can do. Thank you.

[2021-06-04 09:41] clbarnes opened #33 "Specify build-time dependencies in pyproject.toml"
It looks like cmake, scipy, and numpy at least can be required by the PEP517 / PEP518 build system specification. This would allow someone installing a dependent library to install point-cloud-utils in a clean environment with one command (so long as they had a C++ compiler).

[2021-06-04 19:28] #33 closed

[2021-11-07 10:37] nimajam41 opened #35 "In fast k-nearest-neighbor search, do you use approximate methods?"
Hello!
The term "fast" made me confused a little. Does it mean that the nearest neighbors are searched using approximate methods? It will be nice if you can provide some information about this function.

[2021-11-07 10:48] nimajam41 opened #36 "Is your library extendable for N-dimensional points?"
It's actually a feature request!
I was trying to use distance metrics like Hausdorff or Chamfer on N-dimensional point sets and as I expected, an exception was thrown. Are these functions extendable for N-dimensional point sets? So that they can compute the distance between extracted features in deep networks like Pointnet?

[2021-11-07 12:45] dancergraham commented on #35
Hello. the documentation says that the KNN search is 'based on' nanoflann, which says that it does not use approximate methods but is fast because it uses KD trees https://github.com/jlblancoc/nanoflann

[2021-11-09 15:31] #35 closed

[2021-11-09 15:32] fwilliams commented on #36
This isn't implemented yet but it could be in the future. Leaving this open in case someone wants to implement this in the future.

[2021-11-09 15:34] fwilliams opened #37 "Build binaries for PyPI in CI/CD"
It would be nice to upload binaries to PyPI from the CI/CD directly

[2021-11-11 09:27] nimajam41 commented on #35
@fwilliams and @dancergraham , thanks for your guidance!

[2022-01-21 01:33] hcp6897 commented on #16
**Enviroment: Ubuntu 21.10 + python 3.7.11**
**The Error:**

 _x, n = utils.load_point_cloud_by_file_extension(args.mesh_filename, compute_normals=True)
  File "/media/hcp/Master/PhDResearchWork/PointCloud/deep-geometric-prior/utils.py", line 51, in load_point_cloud_by_file_extension
    v, f, n, _ = pcu.read_ply(file_name, dtype=np.float32)
AttributeError: module 'point_cloud_utils' has no attrib

[2022-01-21 20:23] fwilliams commented on #16
Hi, it looks like you're running a very old build of point_cloud_utils. Try installing the latest:

`pip install git+git://github.com/fwilliams/point-cloud-utils`

[2022-01-21 20:24] fwilliams commented on #16
The function `read_ply` does not exist anymore and has been replaced with the [new mesh I.O. functions here](https://github.com/fwilliams/point-cloud-utils#loading-meshes-and-point-clouds)

[2022-02-16 02:27] #26 closed

[2022-02-16 02:27] #37 closed

[2022-03-17 09:01] minty688 opened #38 "the principle of distance calculation of point cloud to mesh"
I can't understand your algorithm  that  how to use the fast winding number to calculate the distance from the point cloud to the mesh, (I am not very familiar with the C++ , I can only understand the calculation process of calculating the winding number in Gavin's paper)

can you briefly describe the principle of distance calculation or recommand some paper to explain it.Thank you

[2022-03-23 17:22] fwilliams commented on #38
There are two parts to this. The first uses an AABB tree to find the nearest point on a mesh for each query point (find the closest triangle and then which position on that triangle is the closest point). The result of this step is an *unsigned* distance for each point on the mesh. To sign the distance (determine if it's inside or outside), the algorithm uses [fast winding numbers](https://www.dgp

[2022-04-28 17:00] dhorka opened #39 "Compatibility with macbook with m1"
Hi,

I would like to know if this library is compatible with a MacBook pro with an M1 chip. I was trying to install it, and for now, I'm getting a lot of errors. Has anyone been able to install it on a MacBook?

[2022-05-06 03:56] LilyGinger opened #40 "Pip3 install point_cloud_utils Error"
Thank you very much for your great work. However, I met some problems when I run **pip3 install point_cloud_utils**. We would be grateful if you could help us to find the problem!

Here is the output in the console:

[code]

[2022-05-06 14:26] fwilliams commented on #40
Hi, it seems you might be building the library from source!

Try
[code]

(note the dashes (`-`) instead of underscores (`_`))

[2022-05-07 02:06] rty813 commented on #40
[code]

[2022-05-08 18:27] shihgianlee commented on #40
I am getting the same error.

[2022-05-09 21:20] fwilliams commented on #40
@LilyGinger could you also confirm your system details?

Also, I seem to have just fixed the build for macos (see [this commit](https://github.com/fwilliams/point-cloud-utils/commit/b9d625641acdd02ee32668c2876fc09d8a5a847c)). I'll cut a new release and send a ping when the package is deployed!

[2022-05-10 10:59] LilyGinger commented on #40
Thank you a lot for your time!
We are installing it on JETSON XAVIER NX with Ubuntu 16.04, Python 3.6.9, Cmake 3.22.4.

[2022-05-10 15:52] fwilliams commented on #40
@LilyGinger

Ah okay, Xavier NX is an ARM CPU and the current CI pipeline is building x86.

Like the MacOS issues, this is likely a simple compilation issue. Could you try building the library locally and posting the error. That should help me fix it.

To do that run:
[code]

Then paste the output of your shell here.

[2022-05-11 09:26] LilyGinger commented on #40
@fwilliams Thank you a lot. Here is the output.

[code]

[2022-05-11 13:36] shihgianlee commented on #40
@fwilliams The installation is successful! Thank you very much for the fix!

[2022-05-11 16:00] fwilliams commented on #39
Hi @dhorka this should work now. Try `pip install point-cloud-utils`

[2022-05-11 16:00] #39 closed

[2022-05-11 21:03] fwilliams opened #41 "Fix Compilation on ARM"
It seems like `-m64` is an x86 tag. See (compilation error `cc: error: unrecognized command line option ‘-m64'` in #40 ). This appears to be breaking ARM builds.

[2022-05-11 21:04] fwilliams commented on #40
@LilyGinger I think your issue might be fairly straightforward to fix. I'll give it a shot soon. I'm closing this issue and opening #41 for your specific problem

[2022-05-11 21:04] #40 closed

[2022-05-16 07:43] LilyGinger commented on #40
@fwilliams Hi, we are very sorry to bother you again.
We are wondering when the #41 could be fixed. We hope to use some of the functions in point_cloud_utils in our group project recently. We would be thankful if you cloud help us in installing and we are always ready for the required operations if you need to test something.

[2022-05-16 17:31] fwilliams commented on #40
@LilyGinger Moving this chat to #41: See the discussion there

[2022-05-16 17:32] fwilliams commented on #41
@LilyGinger could you add the following to `external/geogram/CMakeLists.txt` at line 41:

[code]

[2022-05-18 13:55] LilyGinger commented on #41
Hi, @fwilliams  Here is the output:
[code]

[2022-05-18 15:04] fwilliams commented on #41
Thanks @LilyGinger

Can you also add the following after that line and rerun the build:

[code]

[2022-05-19 01:25] LilyGinger commented on #41
Hi, Here is the new output.
[code]

[2022-05-19 14:56] fwilliams commented on #41
@LilyGinger I think something might be amiss. Did you paste the above lines in ` external/geogram/CMakeLists.txt` around line 41? Your output should contain `ON ARM CPU` or `NOT ON ARM CPU` in the output. Can you run `python setup.py clean` before building?

[2022-05-20 18:21] etaoxing opened #42 "Issues building on MacBook M1"
I've tried `pip install -vvv point-cloud-utils` and building from source. Here's the error log:
[code]

[2022-05-20 18:25] etaoxing commented on #42
Seems like the issue could be `embree` not using the latest version v3.13 which has M1 support?
[code]

https://github.com/fwilliams/point-cloud-utils/blob/7115e490f1c527ad0153c5fea9eb87dc65aca162/CMakeLists.txt#L78

I tried bumping to embree v3.13.0 and building gets a little further, but still errors:
[code]

[2022-06-24 11:23] tomanick opened #43 "Detecting corners and edges in point clouds"
Thanks for sharing this wonderful library.
If I want to detect corners and edges in point clouds, does this library support it?

[2022-07-14 06:49] YuhsiHu opened #46 "Issues in example code 'Hausdorff distance between two point clouds'"
Hello, thank you for your great work!
There is a typo in the README I think. In **Hausdorff distance between two point clouds**, we should **2 to *hausdorf distance* in all these assertions because we are calculating the square of the distance value:
`assert np.abs(np.sum((a[idx_a] - b[idx_b])**2) - hausdorff_b_to_a**2) < 1e-5, "These values should be almost equal"`

Thank you for your time.

[2022-07-14 14:03] fwilliams commented on #46
Good catch! You're absolutely right 😄 Updating the README now

[2022-07-19 09:32] yokomaz opened #47 "shortest_distance_pairs problem"
Dear sir,
I was trying to use pcu.shortest_distance_pairs to calcul the distance in Knn distance, but it shows me a problem that pcu has no attribute "shortest_distance_pairs"

Verison of pcu is 0.23.0 and it's used as python library.

Do you know how to solve it?

Thanks before

[2022-07-20 13:42] zgojcic opened #48 "New ply loader breaks save_mesh_*"
After the introduction of the new ply loader, all  `pcu.save_mesh_*()`  and `pcu.save_triangle_mesh()` function fail with:

[code]

To reproduce:
Version: `0.24.0`
Installed using: `pip install point-cloud-utils`

[code]

Let me know if further information is needed,
Zan

[2022-07-20 19:52] fwilliams commented on #48
Thanks for reporting the issue. This should be fixed in `0.24.1`. Let me know if it's still broken!

[2022-07-20 19:52] #48 closed

[2022-07-24 15:23] fwilliams commented on #47
Hi,

Thanks for reporting the issue. The README has gotten a bit out of date and the example refers to an old version of PCU. I've updated it and included a snippet of the new way to do this here:

[code]

[2022-07-24 15:23] #47 closed

[2022-07-24 16:11] fwilliams commented on #25
I added [functions for mesh curvature](https://github.com/fwilliams/point-cloud-utils#computing-curvature-on-a-mesh). Not sure if it's what you need. For point cloud curvature there are many possible approaches which I'll try and add in the future

[2022-07-31 12:05] ShengyuH commented on #42
hi, I have the same error message when I was trying to build on my Mac. Here's my system info:
[code]
Here's the error message from pip install
[code]

Here's the error message when building it:
[code]

[2022-08-04 11:44] brunovollmer commented on #41
Is there a solution to build on ARM systems?

[2022-08-04 12:08] brunovollmer commented on #41
From my understanding the problem comes from geogram, which (as you mentioned) has the -m64 tag that breaks the ARM build.

In the geogram repo they mention a way to make it work but I'm unsure on how to integrate it into this repository. Any suggestions?

https://github.com/alicevision/geogram/issues/19

[2022-08-04 20:04] fwilliams commented on #41
Hi, yes it seems the problem is with geogram (geogram is also blocking builds on M1 macs).

I have a copy of geogram directly in the repo (i.e. not a CMake external project), so you can modify geogram's CMake directly to make it work. I don't have an ARM machine to test this on so I haven't done it. If you manage to get it compiling, I would love a PR. Also very happy to answer any questions/work

[2022-08-05 10:04] brunovollmer commented on #41
I'm actually working on a Khadas Vim3 board (https://www.khadas.com/vim3). I will see what i can do to make it work. Any initial hints what I should look out for?

[2022-08-05 15:36] fwilliams commented on #41
I think making a branch in the geogram cmake without the -m64 flag is a good start. Embree may also give you trouble but bumping the version should work. See the M1 Mac issue #42 which has more on that. Geogram had issues building on M1 Mac but that's just because the ifdefs for OSX assume Intel CPUs and include things like SSE headers. This shouldn't impact your case. Let me know if you run into

[2022-08-05 20:51] Layer3 commented on #41
Geogram should indeed just have a switch for excluding the -m64 and -m32 flags on non arm builds and as you mentioned eigen is the next problem a build runs into.
I am figuring that one out now and will let you know as soon as I found something. Maybe I'll come round the corner with a PR ;P

[2022-08-06 00:41] fwilliams commented on #41
Thanks @Layer3! Did you embree instead of Eigen?

For both @brunovollmer and @Layer3, [I created an arm branch](https://github.com/fwilliams/point-cloud-utils/tree/arm) which has the latest version of embree. If you can fix geogram, you can use that as the base for your PR.

[2022-08-06 08:45] Layer3 commented on #41
Yea @fwilliams compiling geogram isn't the big issue for me, that is easily doable by adding a little cmake switchto exclude the -m64/-m32 flags. The bigger problem is that the CortexA73 doesn't play nice with sse, so now I'm currently stuck with this.
[code]
Up to this point I've just been deactivating sse where I could or adjust the asm calls if I had to, but this one feels just too wrong.

[2022-08-13 14:24] Layer3 commented on #41
Hey @fwilliams,
I managed to compile point_cloud_utils on arm now. In the end I used simde to translate the sse2 calls that are used in igl to arm compatible instructions.
I'm now running into the issue that `_pcu_internal` is not found when I try importing the module.
Just wondering if you got any thoughts on this.
I have all my changes for this on a fork currently.

[2022-08-13 22:14] fwilliams commented on #41
Thanks for this, I'd love to merge these changes into the repo!

Could you create a PR with your fork? That would help me resolve your issue.

[2022-08-14 10:51] Layer3 commented on #41
Sure, I can clean them up some more and then PR them to one of the arm branches.
Regarding the issue I still had.
I am able to manualy import _pcu_internal from the build directory, so I think the pcu should be generally good to go still and it's probably just some confusion between the build and deploy configurations.
Also I've seen that you already did some updates on the arm branches. I haven't

[2022-08-14 11:43] Layer3 commented on #41
Just to confirm that it runs, this is on a CortexA73
[code]

[2022-08-14 18:33] fwilliams commented on #41
Amazing that it works!!!

I would ignore the current arm branch! I was messing around with updating embree but didn't really get anywhere. I'll delete it for now.

[2022-08-21 16:50] Layer3 commented on #41
@fwilliams Prepared the PR, do you want to open a separate branch for that?

[2022-10-30 01:34] usccolumbia opened #50 "compiling error on M1 Macbook pro"
when pip install point_cloud_utils

got this error:
CMake Error: The source directory "/private/var/folders/_1/z9htdvys25dbgnl4nfxmvhf80000gn/T/pip-install-ihjh_3ei/point-cloud-utils_55486fa531a24a6886398db7d72c948d" does not appear to contain CMakeLists.txt.